{% extends "learning_logs/base.html" %}

{% block content %}

    {% if form.errors %}
        Your username and password didn't match. Please try again.
    {% endif %}

    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="submit">log in</button>
        <button type="button" name="singup" onclick="location.href='/users/register'">sign up</button>
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>

{% endblock content %}